<?xml version="1.0"?>
<ruleset name="Project Rules">
	<rule ref="10up-Default">
	    <exclude name="Squiz.Commenting.FileComment.Missing"/>
	    <exclude name="Squiz.Commenting.FunctionComment.Missing"/>
	</rule>
</ruleset>
